In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np

In [5]:
web_stats = {'Day': [1,2,3,4,5,6],
            'visitors': [43,53,34,45,64,34],
            'Bounce_Rate': [65,67,78,65,45,52]}

In [8]:
df = pd.DataFrame(web_stats)

In [10]:
print(df)

   Bounce_Rate  Day  visitors
0           65    1        43
1           67    2        53
2           78    3        34
3           65    4        45
4           45    5        64
5           52    6        34

In [12]:
print(df.head())

   Bounce_Rate  Day  visitors
0           65    1        43
1           67    2        53
2           78    3        34
3           65    4        45
4           45    5        64

In [14]:
df.tail(2)

   Bounce_Rate  Day  visitors
4           45    5        64
5           52    6        34

In [16]:
#How to set an index
df = df.set_index('Day')

In [17]:
df

     Bounce_Rate  visitors
Day
1             65        43
2             67        53
3             78        34
4             65        45
5             45        64
6             52        34

In [31]:
#How to get specific column
df['Bounce_Rate']
df.Bounce_Rate

Day
1    65
2    67
3    78
4    65
5    45
6    52
Name: Bounce_Rate, dtype: int64

In [30]:
#How to get multiple columns 
df[['Bounce_Rate','visitors']]

     Bounce_Rate  visitors
Day
1             65        43
2             67        53
3             78        34
4             65        45
5             45        64
6             52        34

In [32]:
#How to convert column to a list
df.visitors.tolist()

[43, 53, 34, 45, 64, 34]

In [35]:
#How to convert multiple columns to an array list
#technically python doesnt have arrays only lists so have to use numpy
npArray = np.array(df[['Bounce_Rate', 'visitors']])

In [36]:
npArray

array([[65, 43],
       [67, 53],
       [78, 34],
       [65, 45],
       [45, 64],
       [52, 34]])

In [37]:
pd.DataFrame(npArray)

    0   1
0  65  43
1  67  53
2  78  34
3  65  45
4  45  64
5  52  34

In [39]:
#How to get count of each value in specific column
df['visitors'].value_counts()

34    2
45    1
53    1
43    1
64    1
Name: visitors, dtype: int64