I/O Tutorial

In [6]:
import pandas as pd
#How to read in csv
df = pd.read_csv('docs/ZILL-Z77006_MLP.csv')

In [4]:
df.head()

         Date     Value
0  2015-12-31  587450.0
1  2015-10-31  589000.0
2  2015-02-28  620000.0
3  2015-01-31  620000.0
4  2014-12-31  629000.0

In [18]:
#Note index is NOT a column
df.set_index('Date', inplace=True)

In [21]:
df.head()

            Austin_HPI
Date
2015-12-31    587450.0
2015-10-31    589000.0
2015-02-28    620000.0
2015-01-31    620000.0
2014-12-31    629000.0

In [11]:
#How to write out into csv
df.to_csv('docs/newZillowMLP.csv')

In [19]:
#How to rename column names
df.columns = ['Austin_HPI']

In [20]:
df.head()

            Austin_HPI
Date
2015-12-31    587450.0
2015-10-31    589000.0
2015-02-28    620000.0
2015-01-31    620000.0
2014-12-31    629000.0

In [23]:
#How to convert data frames into html 
df.to_html('docs/AustinZillowMLP.html')

In [26]:
#How to rename specific column names
df.rename(columns={'Austin_HPI':'77006_HPI'}, inplace=True)

In [27]:
df.head()

            77006_HPI
Date
2015-12-31   587450.0
2015-10-31   589000.0
2015-02-28   620000.0
2015-01-31   620000.0
2014-12-31   629000.0