In [1]:
import Quandl
import pandas as pd

In [2]:
apiKey = 'jwAAh4Ryr6PUA6DtCLvM'
hpiByState = Quandl.get('FMAC/HPI', authtoken = apiKey)

In [3]:
#How To Create New Columns
hpiByState['TX2'] = hpiByState['TX'] * 2

In [5]:
hpiByState[['TX', 'TX2']]

                    TX         TX2
Date
1975-01-31   32.638435   65.276871
1975-02-28   32.964160   65.928319
1975-03-31   33.539078   67.078157
1975-04-30   34.370555   68.741111
1975-05-31   34.619957   69.239914
1975-06-30   34.205700   68.411400
1975-07-31   33.929778   67.859557
1975-08-31   33.907569   67.815138
1975-09-30   34.001388   68.002775
1975-10-31   34.131263   68.262525
1975-11-30   34.361128   68.722256
1975-12-31   34.571164   69.142329
1976-01-31   34.706542   69.413083
1976-02-29   35.008914   70.017828
1976-03-31   35.731703   71.463406
1976-04-30   36.763316   73.526631
1976-05-31   37.084996   74.169992
1976-06-30   36.689992   73.379983
1976-07-31   36.490754   72.981509
1976-08-31   36.489030   72.978059
1976-09-30   36.580236   73.160473
1976-10-31   36.800212   73.600424
1976-11-30   37.113863   74.227726
1976-12-31   37.317677   74.635355
1977-01-31   37.475507   74.951015
1977-02-28   37.920533   75.841066
1977-03-31   39.002496   78.004992
1977-04-30   40.697344   81.394689
1977-05-31   41.005189   82.010378
1977-06-30   39.997007   79.994014
...                ...         ...
2014-07-31  154.003812  308.007623
2014-08-31  154.750027  309.500055
2014-09-30  155.260490  310.520981
2014-10-31  155.528593  311.057187
2014-11-30  155.903038  311.806077
2014-12-31  156.335440  312.670881
2015-01-31  156.874243  313.748486
2015-02-28  158.055295  316.110591
2015-03-31  159.900023  319.800045
2015-04-30  161.812395  323.624790
2015-05-31  163.622703  327.245407
2015-06-30  165.346896  330.693793
2015-07-31  166.500046  333.000093
2015-08-31  166.736729  333.473458
2015-09-30  166.851566  333.703133
2015-10-31  167.298346  334.596692
2015-11-30  167.597980  335.195961
2015-12-31  167.675816  335.351632
2016-01-31  168.310886  336.621773
2016-02-29  169.897219  339.794438
2016-03-31  171.552486  343.104972
2016-04-30  173.258059  346.516118
2016-05-31  175.352269  350.704538
2016-06-30  176.887152  353.774305
2016-07-31  177.793409  355.586817
2016-08-31  178.657513  357.315026
2016-09-30  179.320970  358.641940
2016-10-31  179.522942  359.045884
2016-11-30  179.533908  359.067815
2016-12-31  179.561870  359.123740

[504 rows x 2 columns]